body {
    color: black;
    background-color: #f1f1f1;
}

.main {
    width: 100%;
    margin: 0 auto;
    padding-top: 35px;
}

main {
    background-color: white;
    padding: 15px;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16);
    margin-bottom: 20px;
}

nav {
    padding-left: 15px;
}

nav li {
    display: inline-block;
    margin-right: 15px;
}

.other-links li {
    margin-left: -38px;
    list-style-type: none;
    margin-top: 10px;
}

main a {
    color: black !important;
}

main i {
    margin-right: 8px;
}

nav ul {
    margin-left: -38px;
}

.inactive-link {
    color: #3e3e3ea6;
}

.active-link {
    color: linear-gradient(90deg, rgba(114,144,223,1) 0%, rgba(59,94,186,1) 98%);
}

nav a {
    cursor: pointer;
}

nav a:hover {
    text-decoration: none;
}

.text-blue {
    color: #1e88e5;
}

h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h6 {
    margin-bottom: 1rem;
}

#work-experience-main h2, #education-main h2, #skills-main h2, #certificates-main h2 {
    margin-top: 0px;
}

h1 {
    margin-left: 15px;
}

h1 a {
    color: black;
}

h1 a:hover {
    color: black;
    text-decoration: none;
}

h1 img {
    border-radius: 50%;
    margin-bottom: 10px;
}

.row {
    width: 100%;
}

.active-link-indicator {
    height: 5px;
    background: linear-gradient(90deg, rgba(114,144,223,1) 0%, rgba(59,94,186,1) 98%);
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.blue-highlight {
    background-color: #1e88e5;
    color:  white;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.modal b {
    font-size: 17px;
}

.edu-print-info {
    display: none;
}

.cert-viewer {
    display: none;
}